<div ng-controller="SearchUserCtrl" class="col-md-12">
  <div class="card">
    <div class="content">
      <form id="search-users" ng-submit="query()">
        <div class="form-group">
          <input type="text" name="query_term" ng-model="query.term" class="form-control border-input"  placeholder="Filtre perfis pelo nome..."/> <br/>
          <button ng-blick="query()" class="btn btn-info btn-wd">Buscar perfil</button>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="header">
        <h4 class="title">Perfis</h4>
        <div class="pull-right">Total de perfis encontrados na busca: {{total}} - Página: {{page}}</div>
    </div>

    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
        <tr><th>ID</th>
          <th>Nome</th>
          <th>Username</th>
          <th>E-mail</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | orderBy : 'name'">
          <td>{{ user.id }}</td>
          <td><a ng-href="/#/show-user/{{user.id}}">{{ user.firstName }}</a></td>
          <td><a ng-href="/#/show-user/{{user.id}}">{{ user.username }}</a></td>
          <td><a ng-href="/#/show-user/{{user.id}}">{{ user.email }}</a></td>
          <td>
            <a class="btn btn-sm btn-info btn-icon" ng-href="/#/edit-user/{{user.id}}"><i class="ti-pencil-alt2"></i>Editar</a>
          </td>
        </tr>
        <tfoot>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button ng-click="query(page-1)" class="btn btn-info"><i class="ti-angle-left"></i></button>
                <button ng-click="query(page+1)" class="btn btn-info"><i class="ti-angle-right"></i></button>
            </td>
        </tbody>
      </table>

    </div>
  </div>
</div>
