<div ng-controller="LoginCtrl" class="col-md-4 col-md-offset-4">
  <div class="card card-user">
    <div class="image">
      <img src="assets/img/background.jpg" alt="...">
    </div>
    <div class="content">
      <div class="author">
        <img class="avatar border-white" src="https://image.freepik.com/free-icon/crowd-of-users_318-50125.jpg" alt="...">
        <h4 class="title">Login<br><br>
        </h4>
      </div>

      <form id="new-user" ng-submit="signin()">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input ng-model="authentication.username" type="text" class="form-control border-input" placeholder="Username" required="required">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input ng-model="authentication.password" type="password" class="form-control border-input" placeholder="Senha" required="required">
            </div>
          </div>
        </div>
        <div ng-show="hasLoginError" class="alert alert-danger">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span><b> Erro no login - </b> Usuário ou senha inválidos :(</span>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd">Acessar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
