<div ng-controller="ShowUserCtrl" class="col-lg-4 col-md-4">
    <div class="card card-user">
        <div class="image">
            <img src="assets/img/background.jpg" alt="...">
        </div>
        <div class="content">
            <div class="author">
              <img class="avatar border-white" src="https://i2.wp.com/hennesseyonline.com/wp-content/uploads/2017/01/generic-profile-avatar_352864.jpg?fit=500%2C500" alt="...">
              <h4 class="title">{{ user.firstName }} {{ user.lastName }}<br>
                 <a href="#"><small>@{{ user.username }}</small></a>
              </h4>
            </div>
            <p class="description text-center">
                {{ user.about }}
            </p>
        </div>
    </div>
</div>
<div ng-controller="EditUserCtrl" class="col-lg-8 col-md-8">
  <div class="card">
    <div class="header">
      <h4 class="title">Editar Perfil</h4>
    </div>
    <div class="content">
      <form ng-submit="update()">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Cargo na Empresa</label>
                <input ng-model="user.position" type="text" class="form-control border-input" placeholder="Cargo" required="required">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                <label>Email</label>
                <input ng-model="user.email" type="email" class="form-control border-input" placeholder="Email" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Username</label>
                <input ng-model="user.username" type="text" class="form-control border-input" placeholder="Username" required="required">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Password</label>
                <input ng-model="user.password" type="password" class="form-control border-input" placeholder="Password" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Nome</label>
                <input ng-model="user.firstName" type="text" class="form-control border-input" placeholder="Nome" required="required">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Sobrenome</label>
                <input ng-model="user.lastName" type="text" class="form-control border-input" placeholder="Sobrenome" required="required">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>CEP</label>
                <input ng-model="user.postalCode" type="text" class="form-control border-input" placeholder="CEP" required="required">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Sobre mim</label>
                <textarea ng-model="user.about" rows="5" class="form-control border-input" placeholder="Sobre..." value="Mike"></textarea>
              </div>
            </div>
          </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd">Atualizar</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
