
<div ng-controller="ShowUserCtrl" class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="assets/img/background.jpg" alt="...">
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="https://i2.wp.com/hennesseyonline.com/wp-content/uploads/2017/01/generic-profile-avatar_352864.jpg?fit=500%2C500" alt="...">
                                  <h4 class="title">{{ user.firstName }} {{ user.lastName }}<br>
                                     <a href="#"><small>@{{ user.username }}</small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{ user.about }}
                                </p>
                            </div>

                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#/edit-user/{{ user.id }}" class="btn btn-info">Editar</a>
                                    </div>
                                </div>
                            </div>
                        </br>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Perfil</h4>
                            </div>
                            <div class="content">
                                <form ng-submit="update()">
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label>Cargo na Empresa</label>
                                        <input ng-model="user.position" type="text" disabled="" class="form-control border-input" placeholder="Cargo" required="required">
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <div class="form-group">
                                        <label>Username</label>
                                        <input ng-model="user.username" type="text" disabled="" class="form-control border-input" placeholder="Username" required="required">
                                      </div>
                                    </div>
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label>Email</label>
                                        <input ng-model="user.email" type="email" disabled="" class="form-control border-input" placeholder="Email" required="required">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Nome</label>
                                        <input ng-model="user.firstName" type="text" disabled="" class="form-control border-input" placeholder="Nome" required="required">
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>Sobrenome</label>
                                        <input ng-model="user.lastName" type="text" disabled="" class="form-control border-input" placeholder="Sobrenome" required="required">
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label>CEP</label>
                                        <input ng-model="user.postalCode" type="text" disabled="" class="form-control border-input" placeholder="CEP" required="required">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-12">
                                      <div class="form-group">
                                        <label>Sobre mim</label>
                                        <textarea ng-model="user.about" rows="5" disabled="" class="form-control border-input" placeholder="Sobre..." value="Mike"></textarea>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
